:root {
  --my-bgc: blue;
}

body {
  background-color: #baf;
}

/* You can add global styles to this file, and also import other style files */
h1 {
  &::before{
    content: 'from global';
    color: blueviolet;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
